<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.modelica.sc/xtext/ModelicaMo"
			class = "sc.modelica.xtext.modelicaMo.ModelicaMoPackage"
			genModel = "model/generated/ModelicaMo.genmodel" />
	</extension>
</plugin>
